{% extends 'crmapp/masterpage.html' %} {% block content %}
<!-- <div class="nav-bar"></div> -->



<div id="container123">
    <b-container class="bv-example-row">
        <b-form-row class="text-center">
            <b-col cols="4">
                <div id="calendar" class="dashboard-calendar">
                    <template>
                    <div>
                      <b-input-group class="mb-1">
                        <b-form-input
                          id="example-input"
                          v-model="value"
                          type="text"
                          placeholder="YYYY-MM-DD"
                          autocomplete="off"
                        ></b-form-input>
                        <b-input-group-append>
                          <b-form-datepicker
                            v-model="value"
                            button-only
                            right
                            locale="en-US"
                            aria-controls="example-input"
                            @context="onContext"
                          ></b-form-datepicker>
                        </b-input-group-append>
                      </b-input-group>
                    </div>
                  </template>
                </div>

                <div id="inventory">
                    <h5 style="text-align: left">Inventory</h5>
                    <div class="dashboard-inventory">


                        <ul>
                            <li>Coffee</li>
                            <li>Tea</li>
                            <li>Milk</li>
                            <li>Coffee</li>
                            <li>Tea</li>
                            <li>Milk</li>
                            <li>Coffee</li>
                            <li>Tea</li>
                            <li>Milk</li>
                            <li>Coffee</li>
                            <li>Tea</li>
                            <li>Milk</li>
                        </ul>
                    </div>

                </div>
                <div id="adinfo">
                    <h5 style="text-align: left">AD INFO</h5>
                    <div class="dashboard-adinfo">
                        <ul>
                            <li>Coffee</li>
                            <li>Tea</li>
                            <li>Milk</li>
                            <li>Coffee</li>
                            <li>Tea</li>
                            <li>Milk</li>
                            <li>Coffee</li>
                            <li>Tea</li>
                            <li>Milk</li>
                            <li>Coffee</li>
                            <li>Tea</li>
                            <li>Milk</li>
                        </ul>
                    </div>

                </div>


            </b-col>

            <b-col cols="6">
                <div id="breadcrumb">
                    <template>
                        <b-breadcrumb>
                          <b-breadcrumb-item href="#home">
                            <b-icon icon="house-fill" scale="1.25" shift-v="1.25" aria-hidden="true"></b-icon>
                            HOME
                          </b-breadcrumb-item>
                          <b-breadcrumb-item href="#domain">DOMAIN</b-breadcrumb-item>
                          <b-breadcrumb-item href="#VMMRDC101">VMMRDC101</b-breadcrumb-item>
                          <b-breadcrumb-item active>REPORT</b-breadcrumb-item>
                        </b-breadcrumb>
                      </template>
                </div>

                <div id="dcdiag">
                    <h5 style="text-align: left; margin-top:20px">DCDIAG</h5>
                    <div class="dashboard-dcdiag">
                        <ul>
                            <li>
                                <Button>Advertising</Button>
                            </li>
                            <li>
                                <Button>SysVolCheck</Button>
                            </li>
                            <li>
                                <Button>NCSecDesc</Button>
                            </li>
                            <li>
                                <Button>FrsEvent</Button>
                            </li>
                            <li>
                                <Button>KnowsOfROI</Button>
                            </li>
                            <li>
                                <Button>NetLogons</Button>
                            </li>
                            <li>
                                <Button>DFSREvent</Button>
                            </li>
                            <li>
                                <Button>MachineAcco</Button>
                            </li>
                            <li>
                                <Button>Advertising</Button>
                            </li>

                        </ul>
                    </div>

                </div>
                <div id="replication">
                    <h5 style="text-align: left">REPLICATION</h5>
                    <div class="dashboard-replication">
                        <ul>
                            <li>
                                <Button>1</Button>
                            </li>
                            <li>
                                <Button>2</Button>
                            </li>
                            <li>
                                <Button>3</Button>
                            </li>
                            <li>
                                <Button>4</Button>
                            </li>
                            <li>
                                <Button>5</Button>
                            </li>
                            <li>
                                <Button>6</Button>
                            </li>
                            <li>
                                <Button>7</Button>
                            </li>
                            <li>
                                <Button>8</Button>
                            </li>
                            <li>
                                <Button>9</Button>
                            </li>

                        </ul>
                    </div>

                </div>
                <div id="agents">
                    <h5 style="text-align: left">AGENTS</h5>
                    <div class="dashboard-agents">
                        <ul>
                            <li>
                                <Button>SCOM</Button>
                            </li>
                            <li>
                                <Button>TIDEWAY</Button>
                            </li>
                            <li>
                                <Button>SCCM</Button>
                            </li>
                            <li>
                                <Button>TANIUM</Button>
                            </li>
                            <li>
                                <Button>CCS</Button>
                            </li>
                            <li>
                                <Button>ILLUMIO</Button>
                            </li>
                        </ul>
                    </div>

                </div>

            </b-col>


            <b-col>

                <div id="refresh">
                    <b-button>Refresh</b-button>

                </div>

                <div id="pdfdownload">
                    <b-button>PDF Report</b-button>

                </div>
            </b-col>
        </b-form-row>
    </b-container>
</div>

<div class="content">
    <b-container-fluid>

    </b-container-fluid>

</div>

<!-- <div id="test">
    <b-card-body>
        <b-nav pills card-header slot="header" v-b-scrollspy:nav-scroller>
            <ul>
                <li v-for="day in days">
                    <h4> Day [[ day ]]</h4>
                </li>
            </ul>
        </b-nav>
        </b-card>

</div> -->









<!-- VUE.JS CODE STARTS HERE-->

<script>
    new Vue({
        el: '#inventory',
        delimiters: ['[[', ']]'],
        data: {
            inventories: []
        },
        mounted() {
            this.getInventory();
        },

        methods: {
            getInventory() {
                const inventories = localStorage.getItem('inventories')
                if (inventories) {
                    this.inventories = JSON.parse(inventories);
                    return;
                }
                axios.get('http://127.0.0.1:8000/api/accounts')
                    .then(response => {
                        this.inventories = response.data.results;
                        localStorage.setItem('inventories', JSON.stringify(response.data.results))
                    })
            },

        },
    });
    // new Vue({
    //     el: '#test',
    //     delimiters: ['[[', ']]'],
    //     data: {
    //         days: [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
    //     }
    // });


    new Vue({
        el: '#navbar',
        delimiters: ['[[', ']]'],
    });

    new Vue({
        el: '#breadcrumb'
    });

    new Vue({
        el: '#container123'
    });
</script>
{% endblock %}