<!-- <div id="app">
    <p> [[ title ]] </p>
    <ul>
        <li v-for="day in days">
            <h4> Day [[ day ]]</h4>
        </li>
    </ul>
</div> -->

<!-- <div id='app'>
    <b-alert show dismissible> Hello [[ name ]]! </b-alert>
</div>

<div id='list'>
    <b-list-group-item v-for="item in items" v-bind:key="item.id">
        [[ item.message ]]
    </b-list-group-item>
</div> -->

<!-- <div id="center" class="text-center">
    <b-button variant="primary" size="sm" @click="share_count++">
        Share on Twitter
        <b-badge variant="light">[[ share_count ]]</b-badge>
    </b-button>
</div> -->




<!-- 
// new Vue({
    //     el: '#app',
    //     delimiters: ['[[', ']]'],
    //     data: {
    //         name: "Rajesh"
    //     }
    // });

    // new Vue({
    //     el: '#list',
    //     delimiters: ['[[', ']]'],
    //     data: {
    //         items: [{
    //             message: 'Nokia 8'
    //         }, {
    //             message: 'OnePlus 5T'
    //         }, {
    //             message: 'Samsung Galaxy S9'
    //         }]
    //     }
    // });

    // new Vue({
    //     el: '#center',
    //     delimiters: ['[[', ']]'],
    //     data: {
    //         share_count: 0
    //     }
    // }); -->