<!-- 
// new Vue({
    //     el: '#app',
    //     delimiters: ['[[', ']]'],
    //     data: {
    //         name: "Rajesh"
    //     }
    // });

    // new Vue({
    //     el: '#list',
    //     delimiters: ['[[', ']]'],
    //     data: {
    //         items: [{
    //             message: 'Nokia 8'
    //         }, {
    //             message: 'OnePlus 5T'
    //         }, {
    //             message: 'Samsung Galaxy S9'
    //         }]
    //     }
    // });

    // new Vue({
    //     el: '#center',
    //     delimiters: ['[[', ']]'],
    //     data: {
    //         share_count: 0
    //     }
    // }); -->